<div class="thermostat-container"  ng-controller="ThermostatCtrl">
  <header>
    <div class="hot-pi-logo"></div>
  </header>
  <div class="thermostat">
    <div class="thermostat-rows">
      <div class="thermostat-quarters clickable" style="border-top-left-radius: 40px;">
        <div class="tl glyphicon glyphicon-home"></div>
      </div>
      <div class="thermostat-quarters clickable" style="border-top-right-radius: 40px;" ng-click="changeTemp(1)">
        <div class="tr glyphicon glyphicon-plus"></div>
      </div>
    </div>
    <div class="thermostat-rows">
      <div class="thermostat-quarters clickable" style="border-bottom-left-radius: 40px;" ui-sref="schedule">
        <div class="bl glyphicon glyphicon-cog"></div>
      </div>
      <div class="thermostat-quarters clickable" style="border-bottom-right-radius: 40px;" ng-click="changeTemp(-1)">
        <div class="br glyphicon glyphicon-minus"></div>
      </div>
    </div>
    <div class="thermostat-dial">
      <div class="current-temp">{{currentTemp}} ˚F <span class="iconic iconic-md" data-glyph="thermometer" title="thermometer" aria-hidden="true"></span></div>
      <div class="outside-temp">42 ˚F <span class="iconic iconic-md" data-glyph="sun" title="sun" aria-hidden="true"></span></div>
      <div class="set-temp">{{temp ? temp : ''}} ˚F <span class="iconic iconic-md" data-glyph="screenshot" title="screenshot" aria-hidden="true"></span></div>
      <div class="indicator">
        <div class="indicator-circle" ng-repeat="dot in indicatorDots" style="{{ dot.style }}"></div>
      </div>
    </div>
  </div>
</div>
