.thermostat-container {
  .thermostat {
    background: #ffffff;
    border: 1px solid #979797;
    border-radius: 40px;
    width: 477px;
    height: 477px;
    margin: auto;
    display: flex;
    flex-direction: column;
    .thermostat-rows {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 50%;
      .thermostat-quarters {
        flex-grow: 1;
        height: 100%;
      }
    }
    .thermostat-dial {
      background: #FFFFFF;
      border: 1px solid #979797;
      box-shadow: 10px 20px 4px 0px rgba(0, 0, 0, 0.5);
      height: 477px;
      width: 477px;
      position: absolute;
      top: 20px;
      right: 285px;
      border-radius: 50%;
    }
  }
}
