.flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.clickable {
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
*:focus {
  outline: 0;
}
.thermostat-container {
  margin-top: calc(50% - 237px);
  .thermostat {
    background: #ffffff;
    border: 1px solid #979797;
    border-radius: 40px;
    width: 477px;
    height: 477px;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    .thermostat-rows {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 50%;
      .thermostat-quarters {
        flex-grow: 1;
        height: 100%;
        font-size: 36px;
        .tl {
          position: relative;
          top: 20px;
          left: 20px;
        }
        .tr {
          position: relative;
          top: 20px;
          left: 185px;;
        }
        .bl {
          position: relative;
          top: 180px;
          left: 20px;
        }
        .br {
          position: relative;
          top: 180px;
          left: 185px;
        }
      }
      .thermostat-quarters:hover .glyphicon{
        color: #EEEEEE;
       }
      .thermostat-quarters:active {
        background: #FFFFFF;
        border: 1px solid #979797;
        box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.50);
      }
    }
    .thermostat-dial {
      background: #FFFFFF;
      border: 1px solid #979797;
//      box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.5);
      height: 477px;
      width: 477px;
      position: absolute;
      top: 0;
      border-radius: 50%;
      margin: auto;
      .current-temp {
        position: absolute;
        font-size: 55px;
        font-weight: 100;
        top: 65px;
        left: 90px;
        .iconic {
          position: relative;
          bottom: 5px;
        }
      }
      .outside-temp {
        position: absolute;
        font-size: 55px;
        font-weight: 100;
        top: 330px;
        left: 90px;
        .iconic {
          position: relative;
          bottom: 7px;
        }
      }
      .set-temp {
        font-size: 110px;
        position: absolute;
        font-weight: 100;
        top: 155px;
        left: 135px;
        .iconic {
          position: relative;
          bottom: 26px;
          right: 15px;
        }
      }
      .indicator {
        position: relative;
        .indicator-circle {
          position: absolute;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid #979797;
        }
      }
    }
  }
}
